@media screen and (max-width: 380px) {
    .overlay {
        &__label {
            font-size: 14px;
            width: 100%;
        }
    }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        max-width: 480px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
    .nav__btn {
        display: none;
    }
    .nav-grid {
        @include flex(none, center, 46px);
    }
    .logo-grid {
        padding: 19px 15px;
        @include flex(space-between, center, none);
    }
    .contacts {
        display: flex;
        gap: 10px;
        flex-direction: column;
    }
    .page-baner {
        &__container {
            background-image: linear-gradient(to top, #2f303a66, #2f303a66),
                url(../images/tablet/header-bg-tablet.jpg);
        }
    }
    .description {
        &__grid {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }
        &__item {
            flex-basis: calc((100% - 30px) / 2);
        }
        &__title {
            text-align: left;
        }
    }
    .team {
        &__grid {
            @include flex(center, none, 30px);
            flex-wrap: wrap;
        }
    }
    .client {
        &__item {
            flex-basis: calc((100% - 60px) / 3);
        }
    }

    .footer {
        &__container {
            padding-left: 76px;
            display: flex;
            flex-wrap: wrap;
            column-gap: 144px;
            justify-content: space-around;
        }
    }
    .footer-media {
        min-width: 206px;
        &__grid {
            justify-content: flex-start;
        }
    }

    .footer-newsletter {
        flex-basis: 450px;
        &__input {
            width: 100%;
        }
    }
    .filters {
        list-style: none;
        @include flex(center, none, none);
        column-gap: 8px;
        margin-bottom: 30px;
        &__btn {
            @extend %btn-small;
            padding: 6px 22px;
            &:hover,
            &:focus {
                color: getcolor('btn');
                background-color: getcolor('btn-bg');
                box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
                    0px 2px 2px rgba(0, 0, 0, 0.12);
                transform: scale(1.05);
            }
        }
    }

    .photo {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        &__item {
            flex-basis: calc((100% - 30px) / 2);
            margin-bottom: 0;
        }
        &__title {
            margin-bottom: 4px;
        }
        &__label--first {
            padding-bottom: 56px;
        }
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
    .logo-grid {
        padding: 25px 15px;
        @include flex(space-between, center, none);
        &__item {
            gap: 93px;
        }
        &__link {
            font-size: 26px;
            font-weight: 700;
            line-height: 1.17;
        }
    }

    .contacts {
        flex-direction: row;
        gap: 30px;
    }
    .page-baner {
        &__container {
            max-width: 1600px;
            padding: 200px 0;
            background-image: linear-gradient(to top, #2f303a66, #2f303a66),
                url(../images/header-bg.jpg);
        }
        &__title {
            max-width: 696px;
            font-size: 44px;
            line-height: 1.36;
            font-weight: 900;
        }
    }
    .description {
        padding: 94px 0;
        &__grid {
            padding: 0 15px;

            @include flex(space-around, none, none);
            column-gap: 30px;
            flex-wrap: nowrap;
        }
        &__text {
            margin-bottom: 0;
        }
        &__box {
            margin-bottom: 94px;
        }
    }
    .job {
        display: block;
        &__title {
            @include h2(36px, 700, 1.16);
            text-align: center;
            margin-bottom: 50px;
        }
        &__grid {
            @include flex(space-around, none, none);
            list-style: none;
        }
        &__item {
            position: relative;
        }
        &__label {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 27px 0;
            text-align: center;
            text-transform: uppercase;
            font-weight: $label-font-weight;
            line-height: 1.17;
            color: getcolor('label');
            background-color: getcolor('label-bg');
        }
    }
    .team {
        padding: 94px 0;
        &__title {
            @include h2(36px, 700, 1.16);
        }
    }
    .client {
        padding: 94px 0;
        &__title {
            @include h2(36px, 700, 1.16);
        }
        &__grid {
            flex-wrap: nowrap;
        }
    }

    .footer {
        &__link {
            font-size: 26px;
            line-height: 1.17;
            font-weight: 700;
        }
        &__container {
            flex-wrap: nowrap;
            padding-left: 15px;
            gap: 0;
            justify-content: flex-start;
        }
        &__contact {
            text-align: left;
            margin-right: 70px;
        }
        .adress {
            &__label {
                margin-bottom: 9px;
            }
            &__link {
                margin-bottom: 9px;
            }
        }
        .footer-media {
            padding-top: 12px;
            margin-right: 78px;
            text-align: left;
            margin: 0 78px 0 0;
        }
        .footer-newsletter {
            flex-grow: 2;
            padding-top: 12px;
            margin: 0;
            text-align: left;
            &__input {
                display: inline-block;
                margin: 0 12px 0 0;
                max-width: 358px;
            }
            &__btn {
                display: inline-flex;
            }
        }
    }
    .modal {
        &__box {
            min-width: 528px;
        }
    }
    .services {
        &__container {
            gap: 10px;
        }
        &__icon {
            left: 15px;
            top: 32px;
        }
        &__input {
            padding: 12px 42px;
            width: 100%;
        }
    }
    .rules {
        &__label {
            font-size: 14px;
            line-height: 1.71;
        }
    }
    .portfolio {
        padding: 94px 0;
    }
    .filters {
        margin-bottom: 50px;
        %__btn {
            padding: 6px 22px;
        }
    }
    .photo {
        &__item {
            flex-basis: calc((100% - 60px) / 3);
        }
        &__label--first {
            padding-bottom: 20px;
        }
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1199px),
    screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1199px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1199px) {
    .page-baner {
        &__container {
            background-image: linear-gradient(to top, #2f303a66, #2f303a66),
                url(../images/tablet/header-bg-tablet@2x.jpg);
        }
    }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
    screen and (min-resolution: 192dpi) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .page-baner {
        &__container {
            background-image: linear-gradient(to top, #2f303a66, #2f303a66),
                url(../images/mobile/header-bg-mobile@2x.jpg);
        }
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
    screen and (min-resolution: 192dpi) and (min-width: 1200px),
    screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .page-baner {
        &__container {
            background-image: linear-gradient(to top, #2f303a66, #2f303a66),
                url(../images/header-bg@2x.jpg);
        }
    }
}
