.page-menu {
    background-color: getcolor('menu-bg');
    border-bottom: 1px solid #e4e8ee;
}

.logo-grid {
    padding: 16px 15px;
    list-style: none;
    font-weight: 500;
    color: getcolor('menu');
    &__item {
        @include flex(space-between, center, 83px);
    }
    &__link {
        @extend %link;
        font-family: $logo-font-family;
        font-weight: $menu-font-weight;
        font-size: $logo-font-size;
        line-height: $logo-line-height;
    }
    &__link:hover,
    &__link:focus {
        color: getcolor('backlight');
    }

    &__text {
        color: getcolor('backlight');
    }
}

.nav {
    @extend %icon;
    &__btn {
        border: none;
        background-color: white;
        transition: color;
        cursor: pointer;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            color: getcolor('backlight');
        }
    }
}
.nav-grid {
    list-style: none;
    display: none;
    &__link {
        @extend %link;
        position: relative;
        &:hover,
        &:focus {
            color: getcolor('backlight');
        }
        &:hover::after,
        &:focus::after {
            @extend %link-active;
        }
    }
}
.active {
    position: relative;
    color: getcolor('backlight');
    &:after {
        @extend %link-active;
    }
}
.contacts {
    // @include flex(none, center, 30px);
    list-style: none;
    display: none;
    &__item {
        color: getcolor('contacts');
    }
    &__link {
        @extend %link;
        @include flex(flex-start, center, 10px);
        &:hover,
        &:focus {
            color: getcolor('backlight');
        }
    }
    &__icon {
        @extend %icon;
    }
}

.menu-mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &__btn {
        position: absolute;
        top: 10px;
        right: 15px;
        border: none;
        background-color: white;
        transition: color;
        cursor: pointer;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            color: getcolor('backlight');
        }
    }
    &__icon {
        @extend %icon;
    }
    &__container {
        padding: 48px 40px;
        position: relative;
        height: 100vh;
    }
    &__grid {
        list-style: none;
        font-family: $standard-font-family;
        font-size: $menu-mobile-font-size;
        line-height: $menu-mobile-line-height;
        font-weight: 500;
        letter-spacing: 0.02em;
    }
    &__link {
        @extend %link;
        &:hover,
        &:focus {
            color: getcolor('backlight');
        }
        &--active {
            color: getcolor('backlight');
        }
        &--media {
            position: relative;
            &:not(:last-child) {
                margin-right: 20px;
            }
            &:nth-child(-n + 3):after {
                content: '|';
                display: inline-flex;
                color: #212121;
                position: absolute;
                right: -12px;
                color: rgba(33, 33, 33, 0.2);
            }
        }
    }
    &__item {
        &:nth-child(-n + 2) {
            margin-bottom: 32px;
        }
        &:nth-last-child(1) {
            position: absolute;
            padding-right: 40px;
            bottom: 48px;
            max-width: 450px;
            gap: 20px;
            font-size: 18px;
            line-height: 1.22;
            color: getcolor('backlight');
        }
        &:nth-last-child(2) {
            position: absolute;
            padding-right: 40px;
            bottom: 134px;
            max-width: 450px;
            color: #757575;
            font-size: 24px;
            line-height: 1.17;
        }
        &:nth-last-child(3) {
            padding-right: 40px;
            position: absolute;
            bottom: 194px;
            font-size: 34px;
            line-height: 1.17;
        }
    }
    &__media_container {
        display: flex;
        flex-wrap: wrap;
    }
}

.is-open {
    transform: translateX(0);
}
