@mixin flex($justify, $algin, $gap) {
    display: flex;
    justify-content: $justify;
    align-items: $algin;
    gap: $gap;
}

@mixin section($scolor, $padding) {
    padding: $padding 0;
    background-color: getcolor('#{$scolor}');
    min-width: 290px;
}

@mixin h2($fs, $fw, $lh) {
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
}
